{% extends 'home.html' %}
{% block body %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class=" py-5 px-4 px-md-5 mb-5">

                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- * * SB Forms Contact Form * *-->
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- This form is pre-integrated with SB Forms.-->
                                <!-- To make this form functional, sign up at-->
                                <!-- https://startbootstrap.com/solution/contact-forms-->
                                <!-- to get an API token!-->
                            </div>
                        </div>
                    </div>
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-1 row-colsmd-2 py-5">

                        <div class="col-lg-4 mb-5 h-100">




                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                            <div class="h5">Address</div>
                            <p class="text-muted mb-0">BSNL Tele Exchange Building,<br>
                            Gandhi Nagar<br>
                            Kochi,Kerala,India,<br>PIN 682017</p>
                        </div>
                        <div class="col-lg-4 mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <div class="h5">Support center</div>
                            <p class="text-muted mb-0">Mail us at any time to find solutions.<br>
                              <a><i class="fa fa-envelope-o" aria-hidden="true"></i> ops@gnusys.net(HelpDesk)</a><br>
                              <a><i class="fa fa-envelope-o" aria-hidden="true"></i> anoop@gnusys.net      </a>

                            </p>
                        </div>
                        <div class="col-lg-4 mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                            <div class="h5">Call us</div>
                            <p class="text-muted mb-0"> <i class="fa fa-phone" aria-hidden="true"> +919846364007</i><br>
                              <i class="fa fa-phone" aria-hidden="true"> +919567875007</i><br>
                              <i class="fa fa-skype" aria-hidden="true"> gnusys</i>

                            </p>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {% endblock %}
