<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AUTOM8N - active-active redundancy, high availability and native nginx plugin for cPanel</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon_package_v0.16/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon_package_v0.16/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',filename='images/favicon_package_v0.16/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static',filename='images/favicon_package_v0.16/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">


        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="a7b28d2c-b1b5-42b9-b40a-d2dcaa15cb6e";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
        <style>
        #mybtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 100px;
          z-index: 99;
          font-size: 30px;
          border: none;
          outline: none;
          background-color: #0095ff;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }
        </style>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img style="margin-bottom: 7px;" src="{{ url_for('static', filename='images/xtendweb_white3.png') }}">&nbsp A U T O M 8 N . C O M</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="/"><strong>Home</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="https://support.gnusys.net/order.php?step=1&productGroup=8"><strong>Plans</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="https://github.com/AnoopAlias/AUTOM8N"><strong>Open Source</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="https://support.gnusys.net/"><strong>Helpdesk</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="/faq"><strong>FAQ</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="https://autom8n.com/howtos"><strong>Howtos</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="https://autom8n.com/docs"><strong>Docs</strong></a></li>
                            <li class="nav-item"><a class="nav-link" style="color: #fff;" href="/contactus"><strong>Contact Us</strong></a></li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                                    <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
{% block body %} {% endblock %}


            <footer class="py-4 mt-auto" id="footer" style="color: #fff;background-color: #0b2c85; background-border: #0b2c85;">


              <button class="" id="mybtn" onclick="topFunction()"  title="Go to top">
                <i class="fa fa-angle-up" aria-hidden="true">  </i></button>

                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="small text-white text-center">Copyright &copy; AUTOM8N 2022</div>

                    </div>
                </div>
            </footer>

            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            <!-- Core theme JS-->
            <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
        </body>
    </html>
